.card-containers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px; 
}

.cardsss {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card {
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.card-content {
  flex-grow: 1;
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
  text-decoration: none;
}

.card1 .card-content {
  background-image: url('./images/service1.jpg');
}

.card2 .card-content {
  background-image: url('./images/service2.jpg');
}

.card3 .card-content {
  background-image: url('./images/service3.jpg');
}

.card4, .card5 {
  margin-top: 3rem; 
  justify-items: center; 
  margin-left: 20rem;

}

.card4 .card-content {
  background-image: url('./images/service4.jpg');

}

.card5 .card-content {
  background-image: url('./images/service5.jpg');
 
}
.card44, .card55 {
  margin-top: 0rem; 
  justify-items: center; 
  margin-left: 20rem;

}
.card h3 {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  text-decoration: none;
  border-bottom: none;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

/* Responsive design */
@media (max-width: 768px) {
  .card-containers {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .card-containers {
    grid-template-columns: 1fr;
  }
  .card4, .card5 {
    margin: 0; 
  }
  .card-containerss {
    grid-template-columns: 1fr;
  }
  .card44, .card54 {
    margin: 0; 
  }
}

/* Animations and Carousel Styles */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.carouse-outer-port {
  text-align: center;
  height: 160vh;
  width: 100%;

  h3 {
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: none;
    border-bottom: none;
  }
}

.carouse-inner-port {
  height: 160%;
  width: 100%;
}

.car-container {
  display: flex;
  flex-wrap: nowrap;
  width: 400px;
  height: 160%;
  animation: scroll-left 15s linear infinite;
  margin-left: 3rem;
}

.car {
  border: 1px solid #ddd;
  border-radius: 8px;
  gap: 4rem;
  height: 160%;
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-left: 5rem;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .car-img {
    width: 100%;
    height: 160%;
    object-fit: cover;
  }
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-280%);
  }
}

.card-containerss {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
 width: 1200px;
 height: 800px;
  margin: 0 auto;
  padding: 20px; 
}

.cardssss {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
