.servicesss {
    color: rgba(10, 60, 100, 0.979);
    text-align: center;
    height: 150vh;
    @media (max-width: 468px){
        height: auto;
    }
    @media (max-width: 768px){
        height: auto;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');

$transition-time: 2.3s;

section {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    @media (max-width: 468px) {
        width: 80%;
        max-width: 1200px;  
    }

    .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columns layout */
        gap: 20px; /* Space between cards */
        align-items: center;
        // height: 100vh;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr); /* 1 column layout for mobile view */
            gap: 20px; /* Space between cards on mobile */
        }
           @media (max-width: 568px) {
            grid-template-columns: repeat(1, 1fr); /* 1 column layout for mobile view */
            gap: 20px; /* Space between cards on mobile */
        }
    }
}

.card {
    position: relative;
    height: 400px;
    width: 100%;
    margin: 10px 0;
    transition: ease all $transition-time;
    perspective: 1200px;

    &:hover {
        .cover {
            transform: rotateX(0deg) rotateY(-180deg);

            &:before {
                transform: translateZ(30px);
            }

            &:after {
                background-color:white;
            }

            h1 {
                transform: translateZ(100px);
            }

            .price {
                transform: translateZ(60px);
            }

            a {
                transform: translateZ(-60px) rotateY(-180deg);
            }
        }
    }

    @media (max-width: 576px) {
        height: 200px !important;
        width: 100%;
        margin: 20px 0;
        perspective: 700px;
    }


    @media (max-width: 768px) {
        height: 300px !important;
        width: 100%;
        margin: 20px 0;
        perspective: 900px;
    }


    .cover {
        position: absolute;
        height: 100%;
        width: 100%;
        transform-style: preserve-3d;
        transition: ease all $transition-time;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        &:before {
            content: '';
            position: absolute;
           
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.0);
            top: 20px;
            left: 20px;
            right: 20px;
            bottom: 20px;
            z-index: 2;
            transition: ease all $transition-time;
            transform-style: preserve-3d;
            transform: translateZ(0px);
        }

        &:after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            z-index: 2;
            transition: ease all 1.3s;
         
        }

        &.item-a {
            background-image: url('./images/mobile-development2-2.gif');
           
        }

        &.item-b {
            background-image: url('./images/web-development.gif');
        }

        &.item-c {
            background-image: url('./images/giphy.png');
        }
        &.item-E{
            background-image: url('./images/ui.gif');
        }
        &.item-D{
            background-image: url('./images/seo 2.gif');
        }


        h1 {
            font-weight: 600;
            position: absolute;
            bottom: 0px;
            left: 50px;
            color: black;
            transform-style: preserve-3d;
            transition: ease all $transition-time;
            z-index: 3;
            font-size: 2em;
            transform: translateZ(0px);
        }

        .price {
            font-weight: 200;
            position: absolute;
            top: 0px;
            left: 50px;
            color: black;
            transform-style: preserve-3d;
            transition: ease all $transition-time;
            z-index: 4;
            font-size: 2rem;
            transform: translateZ(0px);
        }
        @media (max-width: 768px) {
            h1 {
                font-size: 1.2em;
                left: 10px;
                bottom: 5px;
            }
        }

        @media (max-width: 576px) {
            h1 {
                font-size: 1em;
                left: 10px;
                bottom: 5px;
            }
         
    
            .price {
                font-size: 1rem;
                left: 10px;
                top: 5px;
            }
    
            &:before {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }

    }

    .card-back {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(80, 0, 80, 0.979);
        transform-style: preserve-3d;
        transition: ease all $transition-time;
        transform: translateZ(-1px);
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            transform-style: preserve-3d;
            transition: ease transform $transition-time, ease background 0.5s;
            transform: translateZ(-1px) rotateY(-180deg);
            background: transparent;
            border: 1px solid white;
            font-weight: 200;
            font-size: 1.3em;
            color: white;
            padding: 14px 32px;
            outline: none;
            text-decoration: none;

            &:hover {
                background-color: white;
                color: #0b0f08;
            }
        }
    }


    
}
