.servicesss {
    color: rgba(10, 60, 100, 0.979);
    text-align: center;
}
.servicesss-containers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px; 
    margin-top: 40px; 
    justify-items: center; /* Center cards within each column */
}

/* For mobile devices */
@media (max-width: 480px) {
    .servicesss-containers {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        margin-top: 40px;
        justify-items: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
        justify-content: center; /* Center the entire grid */
    }
}
.servicesss-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 2px solid rgba(80, 0, 80, 0.979);
    border-radius: 40px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 80%;
    height: 99%;
    margin-left: 0; /* Default for all cards */
}

/* Desktop or larger screens */
@media (min-width: 768px) {
    .servicesss-card:nth-child(4),
    .servicesss-card:nth-child(5) {
        margin-left: 20rem; /* Apply margin-left only to 4th and 5th cards on larger screens */
    }
}

/* Mobile view (max-width: 480px) */
@media (max-width: 480px) {
    .servicesss-containers {
        grid-template-columns: 1fr; /* Single column layout on mobile */
        gap: 20px; 
        /* Smaller gap between cards */
    }
    
    .servicesss-card {
        margin-left: 0 !important; /* Remove all margins on mobile view */
        width: 70%;
       
        height: 99%; 
    }
}



.floating-image {
    width: 80%;
    height: 50%;
    
    @media (max-width: 480px) {
        width: 100%;
    }
}

.ss {
    text-align: center;
    color: rgba(80, 0, 80, 0.979);
    font-weight: lighter;
    font-size: 1.7rem;
    
    @media (max-width: 480px) {
        font-size: 1.7rem;
    }
}

.pp {
    text-align: center;
    color: rgba(80, 0, 80, 0.979);
    font-weight: lighter;
    font-size: 1.5rem;
    
    @media (max-width: 480px) {
        font-size: 1.7rem;
    }
}


.h4 {
    text-align: start;

}

.ho{
    font-size: 2.5rem;
}



@media (max-width: 768px) {

 
  
}

/* Mobile (max-width: 480px) */
@media (max-width: 480px) {
    .hsss{
    font-size: 1.5rem;
    }
    .ho{
        font-size: 2rem;
    }
   .testimonial-carousel-top-port img {
    object-fit: cover;
    width: 400px;
    height: 400px;
   }

}
